<!DOCTYPE html>
<html>
  <head>
    <title>User</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="content" style="background-color: white;">
      <ul>
        <li><strong>Name:</strong> {{ name }}</li>
        <li><strong>Age:</strong> {{ age }}</li>
      </ul>
    </div>
  </body>
</html>